<!DOCTYPE html>
<html>
    <head>
        <title>UHS SA | Admin</title>

        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        {% load math_filters %}
        {% load target_filters %}
        {% load static %}

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">

        <style>
            .gradient-custom {
                /* fallback for old browsers */
                background: #6a11cb;
                
                /* Chrome 10-25, Safari 5.1-6 */
                background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
                
                /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
            };
        </style>
    </head>
    <body style="background: black;">
        <section class="gradient-custom">
        <div class="container py-5">
        <div class="row d-flex justify-content-center align-items-center" style="min-height: 100vh">
        <div class="col-20 col-md-16 col-lg-10 col-xl-8">
        <div class="card bg-dark" style="border-radius: 1rem; height: 90%">
        <div class="card-body p-5 text-center">
            <div class="accordion" id="accordionParent">

                <!-- Round Stats -->
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Round Stats
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionParent">
                        <div class="accordion-body">
                            <p style="margin-bottom: 1rem"><strong>Current Round:</strong>              {{current_round_index}} </p>
                            <p style="margin-bottom: 1rem"><strong>Start:</strong>                      {{current_round.start_date}} </p>
                            <p style="margin-bottom: 1rem"><strong>End:</strong>                        {{current_round.end_date}} </p>
                            <p style="margin-bottom: 1rem"><strong>Eliminated This Round:</strong>      {{eliminated_this_round}} </p>
                            <p style="margin-bottom: 1rem"><strong>Eliminated Permanently:</strong>     {{eliminated_permanently}} </p>
                            <p style="margin-bottom: 1rem"><strong>Remaining:</strong>                  {{remaining}} </p>
                        </div>
                    </div>
                </div>

                 <!-- View Teams -->
                 <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                            View Teams
                        </button>
                    </h2>
                    <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionParent">
                        <div class="accordion-body">
                            <ul class="list-group">
                                {% for team in teams %}
                                    
                                <li class="list-group-item d-flex justify-content-between align-items-start">
                                    <div class="ms-2 me-auto text-start">
                                        <div class="fw-bold">Team: {{team.name}}</div>
                                        <ul class="list-group">
                                            {% for p in team.get_participants %}
                                                <li style="color: {{p.get_color}};">{{p.name}}</li>
                                            {% endfor %}
                                        </ul>
                                        <a class="btn btn-primary" href="/home/{{team.viewing_code}}" role="button">Open</a>
                                    </div>
                                    <span class="badge bg-danger rounded-pill">{{team.get_perm_elimed_count}}</span>
                                    <span class="badge bg-warning text-dark rounded-pill">{{team.get_round_elimed_count}}</span>
                                    <span class="badge bg-success rounded-pill">{{team.get_remaining_count}}</span>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Current Pairings for Round -->
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseTwo">
                            View Current Pairings for Round {{current_round_index}}
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionParent">
                        <div class="accordion-body">
                            <ul class="list-group">
                                <!-- Loop through all targets in this round -->
                                {% for target in round_targets %}
                                
                                <li class="list-group-item d-flex justify-content-between align-items-start">
                                    <div class="ms-2 me-auto text-start">
                                        <div class="d-flex flex-row">
                                            <div class="fw-bold">Target: {{target.target_team.name}}  - </div>
                                            {{target.target_team.get_participants_first_name}}
                                        </div>
                                        <div class="d-flex flex-row">
                                            Attacker: {{target.prosecuting_team.name}} - 
                                            {{target.prosecuting_team.get_participants_first_name}}
                                        </div>
                                    </div>
                                    <span class="badge bg-danger rounded-pill">{{target.target_team.get_perm_elimed_count}}</span>
                                    <span class="badge bg-warning text-dark rounded-pill">{{target.target_team.get_round_elimed_count}}</span>
                                    <span class="badge bg-success rounded-pill">{{target.target_team.get_remaining_count}}</span>
                                  </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- Create Round and pairings -->
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Create Round and pairings
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionParent">
                        <div class="accordion-body">
                            <form action="{% url 'assignments:assign-teams' %}" method="post">
                                {% csrf_token %}
    
                                <fieldset>
                                    <div class="form-outline form-white mb-4">
                                        Round Number
                                        <input type="int" name="round_num" id="round_num" class="form-control form-control-lg" />
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <div class="form-outline form-white mb-4">
                                        Start Date
                                        <input type="date" name="start_date" id="start_date" class="form-control form-control-lg" data-default-today/>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <div class="form-outline form-white mb-4">
                                        End Date
                                        <input type="date" name="end_date" id="end_date" class="form-control form-control-lg" />
                                    </div>
                                </fieldset>
    
                                <input 
                                    data-mdb-button-init 
                                    data-mdb-ripple-init 
                                    class="btn btn-outline-primary btn-lg px-5" 
                                    type="submit"
                                    value="Create"
                                />
    
                                {% if error_message %}
                                <div class="alert alert-primary alert-dismissible alert-fixed" role="alert" style="pos">
                                    <div>{{ error_message }}</div>
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                                {% endif %}
                            </form>
                        </div>
                    </div>
                </div>

                <!-- Eliminate Participant -->
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button 
                            class="accordion-button collapsed" 
                            type="button" 
                            data-bs-toggle="collapse" 
                            data-bs-target="#collapseFour" 
                            aria-controls="collapseFour"
                            aria-expanded="false" 
                        >
                            Eliminate Participant
                        </button>
                    </h2>
                    <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionParent">
                        <div class="accordion-body">
                            <form action="{% url 'assignments:eliminate-participant' %}" method="post">
                                {% csrf_token %}
    
                                <fieldset>
                                    <div class="form-outline form-white mb-4">
                                        Target
                                        <select 
                                            class="form-select" 
                                            aria-label="Default select example"
                                            name="target_id" 
                                            id="target_id"
                                            onChange="updateParticipantsOnChange"
                                        >
                                            <option value="0" selected></option>
                                            {% for target in round_targets %}
                                                <option value="{{target.pk}}">{{ target }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </fieldset>

                                <fieldset>
                                    <div class="form-outline form-white mb-4">
                                        Eliminated Participant
                                        <select 
                                            class="form-select" 
                                            aria-label="Default select example"
                                            name="elimed_participant_id" 
                                            id="elimed_participant_id"
                                        >

                                        </select>
                                    </div>
                                </fieldset>

                                <fieldset>
                                    <div class="form-outline form-white mb-4">
                                        Eliminator
                                        <select 
                                            class="form-select" 
                                            aria-label="Default select example"
                                            name="eliminator_id" 
                                            id="eliminator_id"
                                        >

                                        </select>
                                    </div>
                                </fieldset>

                                <fieldset>
                                    <div class="form-outline form-white mb-4">
                                        Date
                                        <input type="date" name="date" id="date" class="form-control form-control-lg" data-default-today/>
                                    </div>
                                </fieldset>
    
                                <input 
                                    data-mdb-button-init 
                                    data-mdb-ripple-init 
                                    class="btn btn-outline-danger btn-lg px-5" 
                                    type="submit"
                                    value="Kill"
                                />
    
                                {% if error_message %}
                                <div class="alert alert-primary alert-dismissible alert-fixed" role="alert" style="pos">
                                    <div>{{ error_message }}</div>
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                                {% endif %}
                            </form>
                        </div>
                    </div>
                </div>

                <!-- Clean Up Round -->
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button 
                            class="accordion-button collapsed" 
                            type="button" 
                            data-bs-toggle="collapse" 
                            data-bs-target="#collapseFive" 
                            aria-controls="collapseFive"
                            aria-expanded="false" 
                        >
                            End Round
                        </button>
                    </h2>
                    <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionParent">
                        <div class="accordion-body">
                            <form action="{% url 'assignments:cleanup_round' %}" method="post">
                                {% csrf_token %}
    
                                <input 
                                    data-mdb-button-init 
                                    data-mdb-ripple-init 
                                    class="btn btn-outline-danger btn-lg px-5" 
                                    type="submit"
                                    value="End Round"
                                />
    
                                {% if error_message %}
                                <div class="alert alert-primary alert-dismissible alert-fixed" role="alert" style="pos">
                                    <div>{{ error_message }}</div>
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                                {% endif %}
                            </form>
                        </div>
                    </div>
                </div>

                <!-- Create Purge Day -->
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button 
                            class="accordion-button collapsed" 
                            type="button" 
                            data-bs-toggle="collapse" 
                            data-bs-target="#collapseSeven" 
                            aria-controls="collapseSeven"
                            aria-expanded="false" 
                        >
                            Create Purge Day
                        </button>
                    </h2>
                    <div id="collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionParent">
                        <div class="accordion-body">
                            <form action="{% url 'assignments:create_purge' %}" method="post">
                                {% csrf_token %}

                                <fieldset>
                                    <div class="form-outline form-white mb-4">
                                        Type
                                        <input type="text" name="type" id="type" class="form-control form-control-lg" value="PURGE DAY"/>
                                    </div>
                                </fieldset>

                                <fieldset>
                                    <div class="form-outline form-white mb-4">
                                        <label for="rules_suspended" class="form-label">Rules Suspended</label>
                                        <textarea class="form-control" name="rules_suspended" id="rules_suspended" rows="3">
Floaties no longer afford ANY protection. Protections for school sanctioned activities and work are still in place
</textarea>
                                      </div>
                                </fieldset>

                                <fieldset>
                                    <div class="form-outline form-white mb-4">
                                        Start Time
                                        <input type="time" name="start_time" id="start_time" class="form-control form-control-lg"/>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <div class="form-outline form-white mb-4">
                                        End Time
                                        <input type="time" name="end_time" id="end_time" class="form-control form-control-lg" />
                                    </div>
                                </fieldset>
    
                                <input 
                                    data-mdb-button-init 
                                    data-mdb-ripple-init 
                                    class="btn btn-outline-danger btn-lg px-5" 
                                    type="submit"
                                    value="Create Purge"
                                />
    
                                {% if error_message %}
                                <div class="alert alert-primary alert-dismissible alert-fixed" role="alert" style="pos">
                                    <div>{{ error_message }}</div>
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                                {% endif %}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
        </section>
    </body>

    {{ team_list|json_script:"team_list" }}
    {{ participants|json_script:"participants" }}
    {{ round_targets_ser|json_script:"round_targets_ser" }}
    
    <script>
        const team_list = JSON.parse(document.getElementById('team_list').textContent);
        const participants = JSON.parse(document.getElementById('participants').textContent);
        const round_targets = JSON.parse(document.getElementById('round_targets_ser').textContent);

        let updateParticipantsOnChange = (event) => {
            console.log(event)
            console.log(team_list);
            console.log(participants);
            console.log(round_targets);

            let elimArray = [];
            let killerArray = [];
            let target = {};

            // Get Target Object
            for (let i = 0; i < round_targets.length; i++) {
                if (round_targets[i].id === parseInt(event.target.value)) {
                    target = round_targets[i];
                    break;
                }
            }

            for (let i = 0; i < team_list.length; i++) {
                let team = team_list[i];

                if (team.id === target.target_team) {
                    for (let j = 0; j < participants.length; j++) {
                        let participant = participants[j];
                        if (participant.team === team.id) {
                            elimArray.push(
                                '<option id="' + participant.id + '" value="' + participant.id + '">' + participant.name + '</option>'
                            )
                        }
                    }
                }

                else if (team.id === target.prosecuting_team) {
                    for (let j = 0; j < participants.length; j++) {
                        
                        let participant = participants[j];
                        if (participant.team === team.id) {
                            killerArray.push(
                                '<option id="' + participant.id + '" value="' + participant.id + '">' + participant.name + '</option>'
                            )
                        }
                    }
                }
            }

            console.log(elimArray);

            document.querySelector('#elimed_participant_id').innerHTML = elimArray.join("");
            document.querySelector('#eliminator_id').innerHTML = killerArray.join("");
        }

        document.querySelector("#target_id").addEventListener("change", (event) => updateParticipantsOnChange(event));

        document.addEventListener('DOMContentLoaded', function() {
            const dateFields = document.querySelectorAll('[data-default-today]');
            dateFields.forEach(field => {
              const today = new Date();
              const todayFormatted = today.toISOString().slice(0, 10); // Format as YYYY-MM-DD
              field.value = todayFormatted;
            });
          });
    </script>
</html>
